# 忽略数据目录
neurosymbolic-rl/data/


# 忽略所有数据文件扩展名
*.csv
*.npy
*.pth
*.h5
*.json
*.mmap
*.pt
*.pth
*.npz

# 忽略 Python 缓存
__pycache__/
.ipynb_checkpoints/
.trae-server/
.vscode/
.cache/
.ssh_backup/
__MACOSX/
